In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("")

In [4]:
data.head()

,Unnamed: 0,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,Gender,JobLevel,...,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,Attrition
0,0,51,Travel_Rarely,Sales,6.0,2,Life Sciences,1,Female,1,...,6,1,0,0,3.0,4.0,2.0,3,3,No
1,1,31,Travel_Frequently,Research & Development,10.0,1,Life Sciences,2,Female,1,...,3,5,1,4,3.0,2.0,4.0,2,4,Yes
2,2,32,Travel_Frequently,Research & Development,17.0,4,Other,3,Male,4,...,2,5,0,3,2.0,2.0,1.0,3,3,No
3,3,38,Non-Travel,Research & Development,2.0,5,Life Sciences,4,Male,3,...,5,8,7,5,4.0,4.0,3.0,2,3,No
4,4,32,Travel_Rarely,Research & Development,10.0,1,Medical,5,Male,1,...,2,6,0,4,4.0,1.0,3.0,3,3,No